# Server Config
PORT=9004
ENVIRONMENT=DEV

# AWS S3 Configuration
AWS_REGION=ap-south-1
DOC_BUCKET_NAME=shikshakul-docs-dev

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
